.topic{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.topic h1{
    margin: 12px;
    color: var(--accent);
    padding: 8px 12px;
}
.topic .user-input{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}
.topic  .instructions{
    font-size: 18px;
}
.topic .user-input input{
    padding: 8px 12px;
    border: 1px solid var(--accent);
    border-radius: 8px;
    font-size: 16px;
}
.topic .user-input input:focus {
    outline: none;
    border-color: var(--accent);
}
.plot-button{
    padding: 8px 12px;
    border: 1px solid var(--accent);
    border-radius: 8px;
    cursor: pointer;
    color: var(--surface);
    background-color: var(--accent);
}
.plot-button:hover{
    background-color: var(--accent-hover);
}
.data{
    display: flex;
    flex-direction: row;
    gap: 16px;
    /* align-items: flex-start; */
}
.polar-table{
    width: 300px;
    border: 1px solid var(--accent);
    padding: 4px;
    border-collapse: collapse;
    text-align: center;
    max-height: 500px;
}
.polar-table caption{
    background-color: var(--accent);
    font-size: 18px;
    color: var(--surface);
    padding: 12px;
    border: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.polar-table th,
.polar-table td {
    border: 1px solid var(--text);
    
}
.polar-table th{
    padding: 12px;
}
.polar-table tbody tr:nth-child(even){
    background: #f5f5f5;
}
.polar-canvas{
    border: 1px solid var(--accent);
    display: block;
    margin-top: 16px;
}
